.nav-line{
    text-align: right;
}
ul{
    display: inline-block;
    list-style-type: none; 
}

ul li{
    float: left;
    margin: 20px;
    color: white;
    text-decoration: none;
}

.text{
    background-color: goldenrod;
    border: 0px white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px;
    float: left;
}